@charset "utf8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@font-face {
    font-family: ArchitectsDaughter;
    src: url('../resources/fonts/ArchitectsDaughter-Regular.ttf');
}

*{
    padding: 0px;
    margin: 0px;
}

p{
    font: 400 1em Montserrat, Arial, sans-serif;
}

body{
    font: 12px ArchitectsDaughter, Arial, sans-serif;
    background-color: #fff5bf;
    background-image: url('../resources/images/background.png');
    background-size: 100% 100%;
}

strong{
    text-transform: uppercase;
    color: #e77b22;
}

div.body {
    display: flex;
    margin: auto;
    max-width: 1050px;
}

/* DIV APRENSENTATION + CAT GIF*/

div.apresentandcat {
    display: flex;
    flex-direction: column;
}

/* CLASS APRESENTATION CSS */

div.apresentation {
    font: 20px ArchitectsDaughter, Arial, sans-serif;
    max-width: 350px;
    padding: 40px;
    margin-top: 80px;
    border-radius: 10px;
    background-color: #ffd077;
    border: solid;
    box-shadow: #1f1e1e 8px 8px;
    transition: 0.3s;
}

div.apresentation > p {
    font: 400 1em Montserrat, Arial, sans-serif;
}

div.apresentation:hover {
    margin-top: 70px;
    box-shadow: #4d4a4a 8px 8px 2px;
    transition: 0.3s;
    margin-bottom: 10px;
}

/* NAVIGATION BAR CSS */

div#navibar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    width: 45px;
    height: 100vh;
    padding: 25px;
    transition: 0.3s;
}

div#navibar > h1 {
    transition: 0.3s;
}

div#navibar:hover {
    background-color: white;
    transition: 0.5s;
}

div#navibar:hover > h1 {
    padding-top: 15px;
    font-size: 24px;
    color: #afafaf;
    text-align: left;
    display: block;
    writing-mode: vertical-lr;
    text-orientation: upright;
    transition: 0.5s;
}

div#navibar:hover > h1 > span {
    display: none;
}

div#navibar:hover > h1::after {
    content: 'Shibeeki';
}

/* IMAGES IN NAVIBAR CSS */

div#navibar > div {
    display: none;
}

div#navibar:hover > div {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

div.images > a {
    padding-bottom: 10px;
}

/* LOGO MARK CSS */

span.logomark {
    display: flex;
}

/* CUTE CAT DIV CSS */

div.catdiv {
    margin-top: 200px;
    margin-left: 70px;
    width: 150px;
    transition: 0.3s;
}

img.catgif:hover {
    margin-left: -10px;
    width: 140px;
    transition: 0.3s;
}

img.catgif {
    width: 130px;
    transition: 0.3s;
}

/* ABOUT ME DIV CSS */

div.aboutme {
    font: 20px ArchitectsDaughter, Arial, sans-serif;
    max-width: 300px;
    padding: 40px;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: #ffc691;
    border: solid;
    box-shadow: #1f1e1e 8px 8px;
    transition: 0.3s;
}

div.aboutme > h1 {
    font-size: 1.7em;
}

div.aboutme > p {
    font-size: 1em;
}

div.aboutme:hover {
    margin-top: 30px;
    margin-bottom: 10px;
    transition: 0.3s;
    box-shadow: #4d4a4a 8px 8px 2px;
}

div.aboutme > h1 > strong {
    text-transform: uppercase;
    color: #c45b2a;
}    

/* BUTTON */

div#museudiv{ 
    margin-top: 50px;
}

button{
    font: bold 20px Montserrat, Arial, sans-serif;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    color: white;
    background-color: #ee8c5e;
    border: #572a16 solid;
    box-shadow: #494949 2px 2px 4px;
    margin-top: 0px;
    transition: 0.3s;
}

button:hover {
    cursor: pointer;
    background-color: #f3c42a;
    border: #685311 solid;
    text-decoration: underline;
    margin-top: -5px;
    box-shadow: #494949 2px 2px 10px;
    transition: 0.3s;
}

/* FOOTER */

footer {
    font: bold 1.3em Montserrat, Arial, sans-serif;
    margin-top: 50px;
    padding: 20px;
}

section {
    text-align: right;
    margin-top: 10px;
    margin-left: 100px;
}